<% layout("/layouts/boilerplate.ejs") %>
    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <h3><%= listing.title %></h3>
        </div>
        <div class="card col-md-6 offset-md-3 mt-4">
            <img src="<%= listing.image%>" class="card-img-top show-img" alt="Listing_image">
            <div class="card-body">
                <p class="card-text">
                    <br>
                    <%= listing.description %><br>
                    <% if(listing.price !== null && listing.price !== undefined) { %>
                        &#8377 <b><%= listing.price.toLocaleString("en-IN") %></b> / night<br>
                    <% } else { %>
                        Price not available<br>
                    <% } %>
                    <%= listing.location %><br>
                    <%= listing.country%><br>
                </p>
            </div>
        </div>


        <div class="btns">
            <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark offset-3 add-btn">Edit</a>
    
        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
            <button class="btn btn-dark offset-5">Delete</button>
        </form>
        </div>
        
        <div class = "col-8 offset-3">
            <hr>
            <h4><span class="badge text-bg-secondary">Reviews &nbsp Please!</span></h4>
            <form action="/listings/<%= listing.id %>/reviews" method = "POST">
                <div class = "mb-3 mt-3">
                    <label for="rating" class="form-label">Rating : </label>
<input type="range" class="form-range" min="1" max="5" id="rating" name="review[rating]">
                </div>
                <div class = "mb-3 mt-3">
                    <label for="comment" class="form-label">Comments : </label>
                    <textarea 
                    name = "review[comment]"
                    id = "comment"
                    cols = "30"
                    rows = "5"
                    class = "form-control"
                    >Enter a comment...</textarea>
                </div>
                <button class = "btn btn-outline-dark" type = "submit">Submit</button>
            </form>
        </div>
    </div>